<div class="main-container">
  <div class="main-router">
    <video #videoBackground class="video-background">
      <source src="/assets/videos/main-footage.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <h1>Вітаємо в барбершопі!</h1>
    <button>Записатись</button>
  </div>
  <div class="main-info">
    <h3>Barbershop</h3>
    <h5>Barbershop</h5>
    <p>Що таке барбершоп знає вже певно кожен, а ми - знаємо толк в цій справі! Мережа барбершопів - це якість,
      стиль і вміння слухати клієнта! Хочеш гарно виглядати,говорити на різні суто чоловічі теми, пити смачну каву і релаксувати
      від атмосфери, при цьому ніяких жіночок та лишніх запахів, не витрачай часу даремно, приходь до нас, стань з "Barbershop GC"
      на "ТИ" , і лови кайф від кінцевого результату!</p>
  </div>
</div>
